{% load i18n %}

<div id="box-" class="six columns service-box box">
    <div class="box_heading" style="text-align:center">
        <img src="{{ MEDIA_URL }}images/ambassador.png" alt="Ambassador" width="50" height="">    <h4>{% trans "Ambassador" %}</h4>
    </div>
    <ul class="caption fade-caption" style="">
        <li><a href="" title="Profile">{% trans "Profile" %}</a></li>
        <li><a href="" title="Picture">{% trans "Picture" %}</a></li>
        <li><a href="" title="Write to Ambassador">{% trans "Write to Ambassador" %}</a></li>
    </ul>
</div>
