{% load i18n %}

<div id="box-" class="six columns service-box box">
    <div class="box_heading" style="text-align:center">
        <img src="{{ MEDIA_URL }}images/business.png" alt="Business in bangladesh" width="50" height="">    <h4>{% trans "Business in bangladesh" %}</h4>
    </div>
    <ul class="caption fade-caption" style="">
        <li><a href="" title="Photo Gallery">{% trans "Export commodities" %}</a></li>
        <li><a href="" title="Video Gallery">{% trans "Import commodities" %}</a></li>
        <li><a href="" title="Video Gallery">{% trans "Export policy" %}</a></li>
        <li><a href="" title="Video Gallery">{% trans "Import policy" %}</a></li>
    </ul>
    <div class="box_links">
        <p><h4>{% trans "Exporters" %}</h4></p>
        <ul class="caption fade-caption" style="">
            <li><a href="" title="Video Gallery">{% trans "Apparel" %}</a></li>
            <li><a href="" title="Video Gallery">{% trans "Trousers and jeans" %}</a></li>
            <li><a href="" title="Video Gallery">{% trans "Women intimate apparel" %}</a></li>
            <li><a href="" title="Video Gallery">{% trans "knitwear" %}</a></li>
        </ul>
    </div>
    <div class="box_links">
        <p><h4>{% trans "Important links" %}</h4></p>
        <ul class="caption fade-caption" style="">
            <li><a href="" title="Video Gallery">{% trans "EPB" %}</a></li>
            <li><a href="" title="Video Gallery">{% trans "NBR" %}</a></li>
            <li><a href="" title="Video Gallery">{% trans "BGMEA" %}</a></li>
            <li><a href="" title="Video Gallery">{% trans "BKMEA" %}</a></li>
        </ul>
    </div>
</div>
