{% load i18n %}

<div id="box-" class="six columns service-box box">
    <div class="box_heading" style="text-align:center">
        <img src="{{ MEDIA_URL }}images/events.png" alt="Events at the embassy" width="50" height="">    <h4>{% trans "Events at the embassy" %}</h4>
    </div>
    <ul class="caption fade-caption" style="">
        <li><a href="" title="Photo Gallery">Upcoming events</a></li>
        <li><a href="" title="Video Gallery">Past events</a></li>
    </ul>
</div>
