{% load i18n %}
<div id="box-" class="six columns service-box box">
    <div class="box_heading" style="text-align:center">
        <img src="{{ MEDIA_URL }}images/gallary1.png" alt="Glorious bangladesh" width="110" height="">    <h4>{% trans "Glorious bangladesh" %}</h4>
    </div>
</div>

