{% load i18n %}

<div id="box-" class="six columns service-box box">
    <div class="box_heading" style="text-align:center">
        <img src="{{ MEDIA_URL }}images/investment.png" alt="Investment in bangladesh" width="50" height="">    <h4>{% trans "Investment in bangladesh" %}</h4>
    </div>
    <ul class="caption fade-caption" style="">
        <li><a href="" title="Photo Gallery">{% trans "FDI to follow in bangladesh" %}</a></li>
        <li><a href="" title="Video Gallery">{% trans "Areas allowed for foreign investment" %}</a></li>
        <li><a href="" title="Video Gallery">{% trans "Incentives for foreign investors" %}</a></li>
        <li><a href="" title="Video Gallery">{% trans "Roadmap to investment in bangladesh" %}</a></li>
        <li><a href="" title="Video Gallery">{% trans "Registration of a foreign company in bangladesh" %}</a></li>
        <li><a href="" title="Video Gallery">{% trans "Taxes to be paid by foreign companies" %}</a></li>
        <li><a href="" title="Video Gallery">{% trans "Tax applicable for foreign companies" %}</a></li>
    </ul>
    <div class="box_links">
        <p><h4>{% trans "Important links" %}</h4></p>
        <ul class="caption fade-caption" style="">
            <li><a href="" title="Video Gallery">{% trans "Board of investment" %}</a></li>
            <li><a href="" title="Video Gallery">{% trans "Ministry of commerce" %}</a></li>
            <li><a href="" title="Video Gallery">{% trans "NBR" %}</a></li>
            <li><a href="" title="Video Gallery">{% trans "Bangladesh bank" %}</a></li>
        </ul>
    </div>
</div>
