{% load i18n %}
<div id="box-" class="six columns service-box box">
    <div class="box_heading" style="text-align:center">
        <img src="images/news.png" alt="Latest news" width="50" height=""><h4>{% trans "Latest news" %}</h4>
    </div>
    <ul class="caption fade-caption">
        <li><a href="" title="Egyptian Ambassador Walid Ahmed Shamseldin paid a courtesy call on Foreign Minister Abul Hassan Mahmood Ali, MP at the Ministry of Foreign Affairs today.">Egyptian Ambassador Walid Ahmed Shamseldin paid a courtesy call on Foreign Minister Abul Hassan Mahmood Ali, MP at the Ministry of Foreign Affairs today.</a></li>
        <li><a href="" title="Newly arrived Ambassador of the United Arab Emirates to Bangladesh Saed Mohammed Saed Hmaid Almheiri paid a courtesy call on the Foreign Minister Abul Hassan Mahmood Ali at latter’s office this morning.">Newly arrived Ambassador of the United Arab Emirates to Bangladesh Saed Mohammed Saed Hmaid Almheiri paid a courtesy call on the Foreign Minister Abul Hassan Mahmood Ali at latter’s office this morning.</a></li>
    </ul>
    <p class="see_all">
        <a href="{% url 'home' %}" title=" See All"> {% trans "See All" %}</a>
    </p>
</div>
