{% load i18n %}
<div id="box-" class="six columns service-box box">
    <div class="box_heading" style="text-align:center">
        <img src="{{ MEDIA_URL }}images/links.png" alt="Links" width="45" height="">    <h4>{% trans "Links" %}</h4>
    </div>
    <ul class="caption fade-caption" style="">
        <li><a href="http://www.bangladesh.gov.bd/" title="National Web Portal">National Web Portal</a></li>
        <li><a href="http://www.cabinet.gov.bd/" title="Cabinet Division">Cabinet Division</a></li>
        <li><a href="http://pmo.gov.bd/" title="Prime Minister&#39;s Office">Prime Minister's Office</a></li>
        <li><a href="http://www.boi.gov.bd/" title="Board of Investment">Board of Investment</a></li>
        <li><a href="http://www.epb.gov.bd/" title="Export promotion Bureau">Export promotion Bureau</a></li>
        <li><a href="http://tourismboard.gov.bd/" title="Tourism Board">Tourism Board</a></li>
        <li><a href="https://www.eprocure.gov.bd/" title="E-Tendering">E-Tendering</a></li>
    </ul>
</div>
