{% extends "base.html" %}
{% load i18n %}
{% load timetags %}
{% block content %}
<div id="printable_area">
    <h3>{% trans "Latest news" %}</h3>
    <table class="bordered">
        <tbody>
        {% for news in news_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td width="80%">
                {% if LANGUAGE_CODE == 'fa' %}
                    <a href="{% url 'news-item' hashcode=news.hashcode %}" title="{{news.title_fa}}">{{news.title_fa}}</a>
                {% elif LANGUAGE_CODE == 'en'%}
                    <a href="{% url 'news-item' hashcode=news.hashcode %}" title="{{news.title_en}}">{{news.title_en}}</a>
                {% else %}
                    <a href="{% url 'news-item' hashcode=news.hashcode %}" title="{{news.title_be}}">{{news.title_be}}</a>
                {% endif %}
                </td>
                {% if LANGUAGE_CODE == 'fa' %}
                    <td width="15%"> {{ news.created|print_timestamp|jalali_date}}</td>
                {% else %}
                    <td width="15%"> {{ news.created|print_timestamp|date:'d-m-Y' }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
