{% extends "base.html" %}
{% load i18n %}
{% load timetags %}
{% block content %}
<div class="twelve columns" id="left-content">
    {% if LANGUAGE_CODE == 'fa' %}
        <div class="updateText">{% trans "Last updated" %}: {{ item.modified|print_timestamp|jalali_date}}</div>
    {% else %}
        <div class="updateText">{% trans "Last updated" %}: {{ item.modified|print_timestamp|date:'d-m-Y' }}</div>
    {% endif %}
        <a class="backlink" href="{% url 'home' %}">&#60;&#60; {% trans "Latest news" %}</a>
    <hr id="print_div_hr">
    <div id="printable_area">
        {% if  LANGUAGE_CODE == 'fa' %}
            <h3>{{item.title_fa}}</h3>
            {% if item.image %}
                <p style="text-align:justify"><img alt="item.alt" src="{{item.image.url}}"></p>
            {% endif %}
            <div>
               {{item.text_fa|safe}}
            </div>
            <small>{{ item.created|print_timestamp|jalali_date}}</small>
        {% elif LANGUAGE_CODE == 'en'%}
            <h3>{{item.title_en}}</h3>
            {% if item.image %}
                <p style="text-align:justify"><img alt="item.alt" src="{{item.image.url}}"></p>
            {% endif %}
            <div>
               {{item.text_en|safe}}
            </div>
            <small>{{ item.created|print_timestamp|date:'d-m-Y' }}</small>
        {% else %}
            <h3>{{item.title_be}}</h3>
            {% if item.image %}
                <p style="text-align:justify"><img alt="item.alt" src="{{item.image.url}}"></p>
            {% endif %}
            <div>
               {{item.text_be|safe}}
            </div>
            <small>{{ item.created|print_timestamp|date:'d-m-Y' }}</small>
        {% endif %}
        <hr>
    </div>
</div>
{% endblock %}
