{% load i18n %}

<div id="box-" class="six columns service-box box">
    <div class="box_heading" style="text-align:center">
        <img src="{{ MEDIA_URL }}images/ConsularServices11.jpg" alt="Consular service" width="110" height="">    <h4>{% trans "Consular service" %}</h4>
    </div>

    <div class="box_links">
        <p><h4>{% trans "Visa" %}</h4></p>
        <ul class="caption fade-caption" style="">
            <li><a href="" title="Video Gallery">{% trans "Requirments" %}</a></li>
            <li><a href="" title="Video Gallery">{% trans "Fee" %}</a></li>
            <li><a href="" title="Video Gallery">{% trans "Forms" %}</a></li>
        </ul>
    </div>
    <div class="box_links">
        <p><h4>{% trans "Passport" %}</h4></p>
        <ul class="caption fade-caption" style="">
            <li><a href="" title="Video Gallery">{% trans "New passport" %}</a></li>
            <li><a href="" title="Video Gallery">{% trans "Renewal" %}</a></li>
            <li><a href="" title="Video Gallery">{% trans "Endorsement" %}</a></li>
        </ul>
    </div>
    <div class="box_links">
        <p><h4>{% trans "Travel permit" %}</h4></p>
        <ul class="caption fade-caption" style="">
            <li><a href="" title="Video Gallery">{% trans "Requirments" %}</a></li>
            <li><a href="" title="Video Gallery">{% trans "Fee" %}</a></li>
            <li><a href="" title="Video Gallery">{% trans "Forms" %}</a></li>
        </ul>
    </div>
    <div class="box_links">
        <p><h4>{% trans "Renunciation of nationality" %}</h4></p>
        <ul class="caption fade-caption" style="">
            <li><a href="" title="Video Gallery">{% trans "Requirments" %}</a></li>
            <li><a href="" title="Video Gallery">{% trans "Fee" %}</a></li>
            <li><a href="" title="Video Gallery">{% trans "Forms" %}</a></li>
        </ul>
    </div>
    <div class="box_links" style="">
        <a href="" title="Video Gallery"><h4>{% trans "Other service" %}</h4></a>
    </div>
</div>
