{% load i18n %}

<div id="box-" class="six columns service-box box">
    <div class="box_heading" style="text-align:center">
        <img src="{{ MEDIA_URL }}images/travel.png" alt="Tourism in bangladesh" width="50" height="">    <h4>{% trans "Tourism in bangladesh" %}</h4>
    </div>
    <ul class="caption fade-caption" style="">
        <li><a href="" title="Photo Gallery">{% trans "Places to visit in Dhaka" %}</a></li>
        <li><a href="" title="Video Gallery">{% trans "Beaches" %}</a></li>
        <li><a href="" title="Video Gallery">{% trans "Hills and islands" %}</a></li>
        <li><a href="" title="Video Gallery">{% trans "Historical places" %}</a></li>
        <li><a href="" title="Video Gallery">{% trans "Archeological sites" %}</a></li>
    </ul>
    <div class="box_links">
        <p><h4>{% trans "Important links" %}</h4></p>
        <ul class="caption fade-caption" style="">
            <li><a href="" title="Video Gallery">{% trans "Tourism board" %}</a></li>
            <li><a href="" title="Video Gallery">{% trans "Bangladesh Prtal" %}</a></li>
        </ul>
    </div>
</div>
