#header-site-info {
  left: 20px;
  margin-bottom: 0;
  padding: 10px;
  position: absolute;
  top: 55px;
  z-index: 100;
}

/*@media screen and (max-width: 479px){
	#logo {
    display: block;
    margin: -57px 0px 10px 15px;
	}
}*/

#logo {
  display: block;
  margin: 0 0 10px 15px;
}

#logo img {
  display: block;
  width: 70px;
  height: auto;
}

#site-name-wrapper {
  float: left;
  padding: 10px 20px;
}
#site-name {
  font-size: 2vw;
  font-weight: bold;
  text-shadow: -1px -1px 10px #333, 1px -1px 10px #333, -1px 1px 10px #333,
    1px 1px 10px #333;
}
#site-name,
#slogan {
  display: block;
}

#slogan {
  font-size: 1.5em;
  text-shadow: -1px -1px 10px #333, 1px -1px 10px #333, -1px 1px 10px #333,
    1px 1px 10px #333;
  line-height: 1;
}

#site-name a:link,
#site-name a:visited,
#site-name a:hover,
#site-name a:active {
  text-decoration: none;
}
#site-name a,
#slogan {
  color: #ffffff;
}
#site-name a {
  outline: 0 none;
}

#notice-board {
  /*background: url("/themes/responsive_npf/images/welcome_grad.png") repeat-x scroll center bottom #EBEBEB;*/
  border: 1px solid #dddddd;
  font-size: 1em;
  padding: 0 0 10px 0;
  margin-bottom: 20px;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #ebebeb 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #ffffff),
    color-stop(100%, #ebebeb)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    #ffffff 0%,
    #ebebeb 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    #ffffff 0%,
    #ebebeb 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #ebebeb 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #ebebeb 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
}
#notice-board h2 {
  font-size: 1.5em;
}
#left-content {
}
#right-content {
}

#contents {
  margin: 20px 0;
  min-height: 700px;
}
#contents .block {
  width: 100%;
}
#contents .block > h5 {
  padding: 5px;
  font-size: 1.2em;
  overflow: hidden;
}
#contents .block > ul {
  padding: 10px 0;
  margin-left: 20px;
}
.bk-org {
  background-color: #609513 !important;
  color: #fff;
}

@media (min-width: 301px) and (max-width: 1400px) {
  .service-box {
    margin-left: 24px;
    border: 1px solid #dddddd;
    width: 326px;
  }
}

@media (min-width: 0px) and (max-width: 300px) {
  .service-box {
    margin-left: 24px;
    border: 1px solid #dddddd;
    width: 325px;
  }
}

.service-box:first-child {
  margin-left: 0;
}
.service-box h5 {
  font-size: 1.2em;
}

.rslides {
  margin: 0 auto 40px;
}

.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.3), inset 0 0 5px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 0 1px rgba(255, 255, 255, 0.3),
    inset 0 0 5px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.3),
    inset 0 0 5px rgba(0, 0, 0, 1);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
}

.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}

.rslides_tabs li:first-child {
  margin-left: 0;
}

.rslides_tabs .rslides_here a {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-weight: bold;
}

.callbacks_container {
  /* margin-bottom: 50px;*/
  position: relative;
  float: left;
  width: 100%;
  box-shadow: 0 3px 5px #999999;
}

.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.callbacks img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  border: 0;
}

.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 1em;
  text-shadow: none;
  color: #fff;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px 10px;
  margin: 0;
  max-width: none;
}

.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  top: 52%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("/media/images/themes.gif") no-repeat left top;
  margin-top: -45px;
}

.callbacks_nav:active {
  opacity: 1;
}

.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
}

@media screen and (max-width: 600px) {
  h1 {
    font: 24px/50px "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .callbacks_nav {
    top: 47%;
  }
}

/** Image slider Start **/

#slider,
#slider div.sliderInner {
  width: 960px;
  height: 196px;
}

#notice-board ul a {
  text-decoration: none;
}
#notice-board ul a:hover {
  text-decoration: underline;
}

#news-ticker ul a {
  text-decoration: none;
}
#news-ticker ul a:hover {
  text-decoration: underline;
}
/** Image slider End **/

/* Image Box Style */
.mainwrapper .box {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  cursor: pointer;
  height: 139px;
  float: left;
  padding: 10px;
  position: relative;
  overflow: hidden;
  color: #000;
  /*width: 326px!important;*/
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  -moz-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow: 1px 1px 1px 1px #ccc;
}
.mainwrapper .box h5 {
  padding: 3px 0;
}
.mainwrapper .box img {
  position: relative;
  left: 0;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  float: left;
}

/* Caption Common Style */
.mainwrapper .box .caption {
  position: relative;
  color: #000;
  z-index: 100;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  left: 0;
  padding: 0;
  margin: 0;
  float: left;
  width: 66%;
}
.mainwrapper .box .caption li {
  margin: 2px 0 0 20px;
  font-size: 1.2em;
  list-style-image: url("/themes/responsive_npf/images/bullet_arrow.png");
}
.mainwrapper .box .caption li a {
  font-size: 0.9em;
  text-decoration: none;
  display: block;
}
.mainwrapper .box .caption li a:hover {
  text-decoration: underline;
}

/** right-side-bar block **/
.right-side-bar .block {
  margin-bottom: 10px;
  font-size: 12px;
}
.right-side-bar .block img,
p {
  float: none;
  margin: 0 5px 0 0;
}

.right-side-bar .block .title {
  font-weight: bold;
  margin-bottom: 10px;
}
.right-side-bar .block ul {
  margin: 0 !important;
}

/*=============== Start tt responsive 15-08-2015=======================*/
.right-side-bar .block ul li {
  background: url("/media/images/bg_block_list.png") no-repeat
    scroll 0 0 rgba(0, 0, 0, 0);
  font-size: 120%;
  height: auto;
  list-style-type: none;
  margin-bottom: 5px;
  padding-left: 32px;
  padding-top: 0px;
  padding-bottom: 8px;
  background-position: left;
}
/*=============== Start tt responsive 15-08-2015=======================*/

.right-side-bar .block ul li a {
  font-size: 13px;
  text-decoration: none;
}
.right-side-bar .block ul li a:hover {
  text-decoration: underline;
}

.mzr-content {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

#domains {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
}

#domain-list {
  background-color: #444;
}
.subdivision-box {
  height: auto !important;
  margin-left: 24px;
}
.subdivision-box.first {
  margin-left: 0;
}

#left-content table {
  width: 100%;
}
#left-content table thead tr {
  font-size: 1.2em;
  padding: 5px;
}

/*============ tt start responsive 6-8-2015 =================*/

.btn {
  background-image: linear-gradient(to bottom, #666, #a6a6a6);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #a2a2a2;
  padding: 0 5px;
  color: #fff;
  background-color: #a6a6a6;
}
#notice-board-ticker .btn,
#news-ticker .btn {
  color: #000;
}

.pagination li {
  background-image: linear-gradient(to bottom, #666, #a6a6a6);
  text-align: center;
}

.pagination li .btn {
  background-image: none !important;
}
.block .btn {
  color: #000;
}

/*============ tt End responsive 6-8-2015 =================*/
.btn:hover {
  color: #000 !important;
}
.right {
  float: right;
}

.notice-board-bg {
  background: url("/themes/responsive_npf/images/welcome_grad.png") repeat-x
    scroll left top transparent;
  background-image: url("/themes/responsive_npf/images/bg_notice_board.png");
  background-repeat: no-repeat;
  padding: 10px 0 20px 120px;
}
#notice-board-ticker {
  padding-right: 10px;
}
#notice-board-ticker li {
  margin-bottom: 5px;
}

.pagination {
  float: left;
  margin-top: 20px;
}
.pagination li {
  float: left;
  padding: 0px 5px;
  margin: 15px 0;
}

.pagination li a {
  font-size: 1.2em;
  padding: 5px 10px;
}

table.bordered > tbody > tr,
table.bordered > thead > tr {
  border: 1px #999 solid;
}
table.bordered td,
table.bordered th {
  padding-left: 10px;
  vertical-align: top;
  line-height: 1.2em;
  border: 1px solid #999;
}
table.bordered th {
  font-weight: bold;
}
table.bordered th u {
  font-weight: bold;
  line-height: 3em;
}

table.bordered table td:first-child {
  background-color: #eee;
  padding: 5px;
  font-weight: bold;
}

#printable_area > div {
  overflow: hidden;
}
table {
  clear: both;
}
td {
  box-sizing: border-box !important;
  padding: 5px !important;
  border: 1px solid #d8d8d8 !important;
}
#contents .block {
  overflow: hidden;
}

@media screen and (max-width: 767px) and (min-width: 480px) {
  #logo img {
    display: block;
    width: 50px;
    height: auto;
    float: left;
  }

  #site-name-wrapper {
    float: right;
    left: 50px;
    position: relative;
    top: -52px;
  }
}

@media screen and (max-width: 959px) and (min-width: 768px) {
  .container .twelve.columns {
    width: 748px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .notice-board-bg {
    padding: 10px 0px 20px 100px;
  }
  #notice-board-ticker li {
    background: url("/themes/responsive_npf/images/bullet_tick.png") no-repeat
      0px 5px transparent;
  }
  .right {
    bottom: 8px;
    position: relative;
  }
  #news .btn {
    position: relative;
    top: 17px;
  }
  #notice-board {
    width: 419px;
  }
  #news {
    width: 399px;
  }
  .container .six.columns {
    width: 399px !important;
  }
  .row {
    margin-bottom: 0px;
  }
  .six.columns {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 959px) {
  .slide-panel {
    top: 0px;
    left: 0px;
    position: relative !important;
    z-index: 1000;
    background-color: #333;
    height: 30px;
  }
  #search {
    width: 200px !important;
  }
  #lang_form {
    position: relative;
  }
}

.container .six.columns {
  width: 325px;
}

noscript {
  display: none;
}
td {
  vertical-align: top;
}

/*======== footer =========*/

#footer-menu {
  margin: 14px 0 0 20px !important;
}
.footer-credit {
  margin: 25px 20px 0 0 !important;
  width: 34%;
}
#footer-menu ul li {
  border-right: 1px dotted #d8d8d8;
  display: inline-block;
  padding: 5px 10px;
}
#footer-menu ul {
  float: left;
  width: 100%;
  margin-bottom: 0;
}
#footer-menu ul li a {
  color: #333;
  text-decoration: none;
}

#footer-menu ul li a:hover {
  background: none !important;
}
#footer-menu ul li:hover {
  background: #777 !important;
}

#footer-menu ul li:hover > #footer-menu ul li a {
  color: #fff !important;
}
#footer-menu {
  width: 62%;
  float: none;
}
#footer-menu ul li a {
  display: block;
}
.col0 a:hover {
  color: #000;
}

.meganizr li.col3 {
  display: inherit !important;
}
p {
  width: auto;
}
/* responsive tt */
@media screen and (max-width: 980px) {
  #left-content table {
    display: block;
    overflow-x: scroll;
    width: 100%;
  }
}

#domain-selector-panel {
  height: auto;
  min-height: 30px;
  padding: 10px 0;
}

.domain-selector {
  width: 250px;
  margin: 0 auto;
}

.slide-panel {
  top: 0;
  left: 0;
  z-index: 1000;
  width: 5px;
  position: absolute;
}

.content {
  z-index: 1000;
  overflow: hidden;
  text-align: left;
  background-color: #343434;
  height: 0;
  width: 100%;
  color: #fff;
}

.slide-panel-button {
  position: relative;
  width: 190px;
  z-index: 20;
  cursor: pointer;
  height: auto;
  padding: 0 5px;
  text-align: left;
}

.slide-panel-button:hover {
  color: #9f9d8e;
}

.slide-panel-button {
  cursor: pointer;
  color: #fff;
  background-color: #333;
}

.slide-panel-button:hover {
  color: #9f9d8e;
}

.slide-panel-btns {
  width: 960px;
  margin: 0 auto;
}

/*.cabinet-portal-gov-bd .mainwrapper .box img {
	width: 100px
}*/

@media only screen and (min-width: 320px) and (max-width: 979px) {
  #jmenu .mzr-responsive {
    display: none;
  }
  #jmenu li.mzr-drop a.mzr-content {
    top: 0;
  }
}

.central-eservices .item_1 a {
  animation: blinker 1s linear infinite;
  color: red;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
#domain-list {
  padding: 5px;
}

#inputs > select,
#inputs > input {
  float: left;
  margin: 0 5px;
  padding: 0;
  width: 100px;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  display: inline;
  font-size: 0.9em;
  font-weight: normal;
  margin-right: 5px;
}

.cabinet-portal-gov-bd .meganizr > li > a {
  font-size: 20px;
}

#div-lang-sel {
  font-size: 18px;
  font-weight: bold;
  float: right;
}

#div-lang-sel span {
  text-decoration: none;
  background-color: #609513;
  padding: 0 5px;
  color: #fff;
  margin: 0;
}

#div-lang-sel a {
  text-decoration: none;
  padding: 0 5px;
  color: #fff;
  margin: 0;
}

#div-lang-sel a:hover {
  background-color: #34740e;
}

@media screen and (min-width: 800px) {
  #logo {
    display: inline-block !important;
    float: left;
  }
  #site-name-wrapper {
    line-height: 2;
  }
}

#selection_div {
  margin: 0 auto;
  width: 250px;
}

#selection_div div {
  margin: 0 5px;
}

#selection_div select {
  width: 80%;
  float: left;
  margin: 5px 0 0 0;
  padding: 0;
  position: relative;
  clear: both;
  display: block;
  overflow: hidden;
}

#selection_div a {
  float: left;
  color: #fff;
  margin: 5px;
}

.button_go {
  border: 1px solid #34740e;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  font-family: arial, helvetica, sans-serif;
  padding: 0 5px;
  text-decoration: none;
  display: inline-block;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
  color: #ffffff;
  background-color: #4ba614;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#4ba614),
    to(#008c00)
  );
  background-image: -webkit-linear-gradient(top, #4ba614, #008c00);
  background-image: -moz-linear-gradient(top, #4ba614, #008c00);
  background-image: -ms-linear-gradient(top, #4ba614, #008c00);
  background-image: -o-linear-gradient(top, #4ba614, #008c00);
  background-image: linear-gradient(to bottom, #4ba614, #008c00);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#4ba614, endColorstr=#008c00);
}

.button_go:hover {
  border: 1px solid #224b09;
  background-color: #36780f;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#36780f),
    to(#005900)
  );
  background-image: -webkit-linear-gradient(top, #36780f, #005900);
  background-image: -moz-linear-gradient(top, #36780f, #005900);
  background-image: -ms-linear-gradient(top, #36780f, #005900);
  background-image: -o-linear-gradient(top, #36780f, #005900);
  background-image: linear-gradient(to bottom, #36780f, #005900);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#36780f, endColorstr=#005900);
}

.search-btn {
  border: 1px solid #34740e;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  font-family: arial, helvetica, sans-serif;
  padding: 0 5px;
  text-decoration: none;
  display: inline-block;
  margin: 0 15px 0 5px;
  color: #ffffff !important;
  background-color: #4ba614;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#4ba614),
    to(#008c00)
  );
  background-image: -webkit-linear-gradient(top, #4ba614, #008c00);
  background-image: -moz-linear-gradient(top, #4ba614, #008c00);
  background-image: -ms-linear-gradient(top, #4ba614, #008c00);
  background-image: -o-linear-gradient(top, #4ba614, #008c00);
  background-image: linear-gradient(to bottom, #4ba614, #008c00);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#4ba614, endColorstr=#008c00);
}

.search-btn:hover {
  border: 1px solid #224b09;
  background-color: #36780f;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#36780f),
    to(#005900)
  );
  background-image: -webkit-linear-gradient(top, #36780f, #005900);
  background-image: -moz-linear-gradient(top, #36780f, #005900);
  background-image: -ms-linear-gradient(top, #36780f, #005900);
  background-image: -o-linear-gradient(top, #36780f, #005900);
  background-image: linear-gradient(to bottom, #36780f, #005900);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#36780f, endColorstr=#005900);
}
.footer-credit {
  float: right;
  font-size: 0.8em;
  margin: 40px 20px 0 0;
  text-align: right;
}

.footer-credit ul li {
  margin: 0;
  padding: 0;
}

.footer-credit ul li,
a,
a:visited {
  color: #666;
  text-decoration: none;
}

.footer-credit ul li a:hover {
  text-decoration: underline;
}

#footer-menu {
  float: left;
  margin: 40px 0 0 20px;
}

#footer-menu ul li {
  float: left;
  border-left: solid 1px #ccc;
}

#footer-menu ul li:first-child {
  border-left: solid 1px #eee;
}

#footer-menu ul li a {
  padding: 5px;
  color: #000;
}

#footer-menu ul li a:hover {
  color: #fff;
  background: #000;
}

/*//media query*/

/** Mobile **/
@media only screen and (max-width: 767px),
  only screen and (max-device-width: 767px) {
  #div-lang > form {
    display: none;
  }
  .meganizr li.col3 {
    display: none;
  }
  .slide-panel-button .flaticon-menu10 {
    display: none;
  }
  .slide-panel-button,
  .slide-panel-button:hover {
    cursor: default;
    color: #fff;
  }
  .slide-panel-button {
    margin-top: 2px;
    font-size: 14px;
  }
}

.slide-panel-button {
  width: 250px !important;
}

.cabinet-portal-gov-bd .meganizr > li > a {
  font-size: 20px;
}

.ad-next,
.ad-prev {
  z-index: 10 !important;
}

.service-box {
  z-index: 10;
  cursor: inherit !important;
}

#share-buttons img {
  width: 35px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;
}

.footer-credit {
  float: right;
  font-size: 0.8em;
  margin: 40px 20px 0 0;
  text-align: right;
}

.footer-credit ul li {
  margin: 0;
  padding: 0;
}

.footer-credit ul li,
a,
a:visited {
  color: #666;
  text-decoration: none;
}

.footer-credit ul li a:hover {
  text-decoration: underline;
}

#footer-menu {
  float: left;
  margin: 40px 0 0 20px;
}

#footer-menu ul li {
  float: left;
  border-left: solid 1px #ccc;
}

#footer-menu ul li:first-child {
  border-left: solid 1px #eee;
}

#footer-menu ul li a {
  padding: 5px;
  color: #000;
}

#footer-menu ul li a:hover {
  color: #fff;
  background: #000;
}

.mainmenu {
  z-index: 20;
  position: relative;
}

@media only screen and (max-width: 767px),
  only screen and (max-device-width: 767px) {
  #div-lang > form {
    display: none;
  }

  .meganizr li.col3 {
    display: none;
  }
}

#printable_area table {
  width: 100% !important;
}

.slide-panel-button {
  width: 250px !important;
}

.right-side-bar .block ul li {
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to right, #683091 0%, #8bc643 100%);
  border-image-slice: 1;
}

#div-lang > form input,
#div-lang > form button {
  display: none !important;
}
