{% load i18n %}
<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="{% get_current_language as LANGUAGE_CODE1 %}{{ LANGUAGE_CODE1 }}" xmlns="http://www.w3.org/1999/xhtml">
<!--<![endif]-->
    <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="shortcut icon" href="{{ MEDIA_URL }}images/favicon.ico" type="image/x-icon">
        <title>{% trans "Embassy of Bangladesh" %}-</title>
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-Frame-Options" content="deny">
        <meta name="description" content="">
        <!-- =============== tt canonical End =============================== -->

        <link type="text/css" rel="stylesheet" media="all" href="{{ MEDIA_URL }}css/style.css">
        <link type="text/css" rel="stylesheet" media="all" href="{{ MEDIA_URL }}css/skeleton.css">
        <link type="text/css" rel="stylesheet" media="all" href="{{ MEDIA_URL }}css/demo.css">
        <link type="text/css" rel="stylesheet" media="all" href="{{ MEDIA_URL }}css/flaticon.css">
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/responsiveslides.css">
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/responsive.css">
        <link rel="Stylesheet" type="text/css" href="{{ MEDIA_URL }}css/yoxview.css">

        <link rel='stylesheet' href='{{MEDIA_URL}}css/unite-gallery.css' type='text/css' />


        {% if LANGUAGE_CODE == "fa"%}
            <link type="text/css" rel="stylesheet" media="all" href="{{ MEDIA_URL }}css/base_fa.css">
            <link type="text/css" rel="stylesheet" media="all" href="{{ MEDIA_URL }}css/meganizr_fa.css">
            <link type="text/css" rel="stylesheet" media="all" href="{{ MEDIA_URL }}css/style(1)_fa.css">
            <link rel="stylesheet" href="{{ MEDIA_URL }}css/accessibility_fa.css">

        {% else %}
            <link type="text/css" rel="stylesheet" media="all" href="{{ MEDIA_URL }}css/base.css">
            <link type="text/css" rel="stylesheet" media="all" href="{{ MEDIA_URL }}css/meganizr.css">
            <link type="text/css" rel="stylesheet" media="all" href="{{ MEDIA_URL }}css/style(1).css">
            <link rel="stylesheet" href="{{ MEDIA_URL }}css/accessibility.css">

        {% endif %}


        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.11.1.min.js"></script>
    <script type='text/javascript' src='{{ MEDIA_URL }}js/unitegallery.min.js'></script>
    <script type='text/javascript' src='{{ MEDIA_URL }}js/ug-theme-compact.js'></script>
        <!-- include the jquery-accessibleMegaMenu plugin script -->
        <script src="{{ MEDIA_URL }}js/jquery-accessibleMegaMenu.js"></script>
        <script src="{{ MEDIA_URL }}js/responsiveslides.min.js"></script>
        <script src="{{ MEDIA_URL }}js/jquery.vticker.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}js/domain_selector.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}js/utils.js" type="text/javascript"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/yoxview-init.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.yoxview-2.2.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/responsive.js"></script>

    </head>
    <body class="mofa-portal-gov-bd" cz-shortcut-listen="true">
        <div class="container">
            <div class="sixteen columns top_navbar">
                <div class="languages_bar">
                    <div id="div-lang">
                        <div id="div-lang-sel">
                        <form action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <button type="submit"
                                        name="language"
                                        value="{{ language.code }}"
                                        class="{% if language.code == LANGUAGE_CODE %}selected{% endif %}">
                                    {{ language.name_local }}
                                </button>
                            {% endfor %}
                        </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sixteen columns" id="jmenu">
                <div class="sixteen columns">
                    <a href="javascript:;" class="show-menu menu-head" title=" Select menu"> {% trans "Select menu" %}</a>
                    {% include "menu.html" %}
                </div>

                <div class="sixteen columns">
                    <div class="callbacks_container">
                        <ul class="rslides callbacks callbacks1" id="front-image-slider">
                            <li id="callbacks1_s0" class="callbacks1_on">
                                <img src="{{ MEDIA_URL }}images/bongobondhu.png" alt="bongobondhu" width="960" height="220">
                            </li>
                            <li id="callbacks1_s1"  class="">
                                <img src="{{ MEDIA_URL }}images/prime-minister.png" alt="prime-minister" width="960" height="220">
                            </li>
                            <li id="callbacks1_s2"  class="">
                                <img src="{{ MEDIA_URL }}images/ministry.png" alt="ministry" width="960" height="220">
                            </li>
                            </ul>
                            </div>
                            <div class="header-site-info" id="header-site-info">
                                <div>
                                    <div id="logo">
                                        <a title="
                                            " href="{% url 'home' %}">
                                            <img alt="logo" src="{{ MEDIA_URL }}images/logo.png">
                                        </a>
                                    </div>
                                    <div class="clearfix" id="site-name-wrapper">
                                        <span id="site-name">
                                            <a title="Embassy of Bangladesh" href="{% url 'home' %}">{% trans "Embassy of Bangladesh" %}</a>
                                        </span>
                                        <span id="slogan">
                                        </span>
                                    </div>
                                    <!-- /site-name-wrapper -->
                                </div>
                                <!-- /header-site-info-inner -->
                            </div>
                        </div>

                        <div id="contents" class="sixteen columns">
                            <div class="twelve columns" id="left-content">
                                {% block content %}

                                {% endblock %}
                            </div>
                            {% include "right_sidebar.html" %}
                        </div>

                        <!-- container -->
                        <div class="footer-artwork" id="footer-artwork">&nbsp;</div>
                        <script>
                            function setLanguageCookie(cookieValue) {
                            var today = new Date();
                            var expire = new Date();
                            var cookieName = 'lang';
                            //var cookieValue = "en";
                            var nDays = 5;
                            expire.setTime(today.getTime() + 3600000 * 24 * nDays);
                            document.cookie = cookieName + "=" + escape(cookieValue)
                            + ";expires=" + expire.toGMTString();
                            }
                            function setLanguage() {
                            $("#lang_form").submit();
                            return false;
                            }
                            $(function () {
                            // Slideshow 4
                            $("#front-image-slider").responsiveSlides({
                            auto: true,
                            pager: false,
                            nav: true,
                            speed: 2000,
                            maxwidth: 960,
                            namespace: "callbacks"
                            });
                            $("#right-content a").click(function () {
                            var url = $(this).attr('href');
                            if (isExternal(url) && url != 'javascript:;') {
                            openInNewTab(url);
                            return false;
                            }
                            });
                            });
                            function openInNewTab(url) {
                            var win = window.open(url, '_blank');
                            win.focus();
                            }
                            function isExternal(url) {
                            var match = url.match(/^([^:\/?#]+:)?(?:\/\/([^\/?#]*))?([^?#]+)?(\?[^#]*)?(#.*)?/);
                            if (typeof match[1] === "string" && match[1].length > 0 && match[1].toLowerCase() !== location.protocol)
                            return true;
                            if (typeof match[2] === "string" && match[2].length > 0 && match[2].replace(new RegExp(":(" + {
                            "http:": 80,
                            "https:": 443
                            }[location.protocol] + ")?$"), "") !== location.host)
                            return true;
                            return false;
                            }
                        </script>
                        <script>
                        $(".meganizr .mzr-drop").keyup(function () {
                        $(".mzr-content").attr("aria-hidden", "true");
                        $(this).find(".mzr-content").attr("aria-hidden", "false");
                        });
                        // ============ start tile for <a> and alt for img ========
                            /*$('a').each(function () {
                            $(this).attr('title', $(this).text());
                            });
                            var lan = "en";
                            if (lan == 'en') {
                            $('.mzr-drop a:first-child').each(function () {
                            $(this).attr('title', "Enter to get more menu");
                            });
                            } else {
                            $('.mzr-drop a:first-child').each(function () {
                            $(this).attr('title', "সাবমেনুর জন্য ক্লিক করুন");
                            });
                            }*/
                            $('img').each(function () {
                            var str = $(this).attr("src");
                            var arr = str.split('/');
                            var strFine = arr[arr.length - 1];
                            var str2 = strFine;
                            var arr2 = str2.split('.');
                            var strFine2 = arr2[arr2.length - 2];
                            $(this).attr('alt', strFine2);
                            });
                            $('a2iLogo').attr('alt', 'Access to information');
                            $('.service-box img').each(function () {
                            var strTitle = $(this).parent().find('h4').text();
                            $(this).attr('alt', strTitle);
                            });
                            $('.block img').each(function () {
                            var strTitleRight = $(this).closest('.block').find('.title').text();
                            $(this).attr('alt', strTitleRight);
                            });
                            $('#notice-board-ticker .btn').attr('title', 'সকল নোটিশ');
                            $('#news-ticker .btn').attr('title', 'সকল খবর');
                            $('#search').each(function () {
                            $(this).attr('alt', 'Search');
                            });
                            $('.search-btn').each(function () {
                            $(this).attr('alt', 'Enter to search');
                            });
                            $(".mzr-content").mouseout(function () {
                            $(this).hide();
                            });
                            $(".submenu").mouseover(function () {
                            $(this).siblings('.mzr-content').show();
                            });
                            $(".mzr-content").mouseover(function () {
                            $(this).show();
                            });
                            // ============ end tile for <a> and alt for img ========
                                </script>
                                <script>
                                $(document).ready(function () {
                                $(".slide-panel-button").click(function () {
                                $('#domain-selector-panel').toggle()//animate({height: "toggle"}, 200);
                                if ($('#domain-selector-panel').is(":visible")) {
                                $('#div-lang').css('z-index', '200');
                                } else {
                                $('#div-lang').css('z-index', '1001');
                                }
                                $(".slide-panel-button").toggle();
                                });
                                });
                                </script>
                                <!-- ============ start accessibility megamenu ============ -->
                                <script>
                                $(document).ready(function ($) {
                                $("#dawgdrops").accessibleMegaMenu({
                                /* prefix for generated unique id attributes, which are required
                                to indicate aria-owns, aria-controls and aria-labelledby */
                                uuidPrefix: "accessible-megamenu",
                                /* css class used to define the megamenu styling */
                                menuClass: "meganizr",
                                /* css class for a top-level navigation item in the megamenu */
                                topNavItemClass: "mzr-drop",
                                /* css class for a megamenu panel */
                                panelClass: "mzr-content",
                                /* css class for a group of items within a megamenu panel */
                                panelGroupClass: "mzr-links",
                                /* css class for the hover state */
                                hoverClass: "hover",
                                /* css class for the focus state */
                                focusClass: "focus-content",
                                /* css class for the open state */
                                openClass: "open hover-content"
                                });
                                });
                                </script>
                                <script>
                                $(document).ready(function () {
                                var wi = $(window).width();
                                if (wi < 769) {
                                $('#printable_area td').removeAttr('style');
                                $('#printable_area td p').css("width", "100%");
                                }
                                });
                                $( ".meganizr .mzr-drop").keyup(function() {
                                        $(".mzr-content").attr("aria-hidden","true");
                                        $(this).find(".mzr-content").attr("aria-hidden", "false");
                                    });
                                // ============ start tile for <a> and alt for img ========
                                    /*$('a').each(function() {
                                    $(this).attr('title', $(this).text());
                                    });
                                    var lan = "en";
                                    if(lan == 'en'){
                                    $('.mzr-drop a:first-child').each(function() {
                                    $(this).attr('title', "Enter to get more menu");
                                    });
                                    }else{
                                    $('.mzr-drop a:first-child').each(function() {
                                    $(this).attr('title', "সাবমেনুর জন্য ক্লিক করুন");
                                    });
                                    }*/
                                    $('img').each(function() {
                                    var str = $(this).attr("src");
                                    var arr = str.split('/');
                                    var strFine = arr[arr.length-1];
                                    var str2 = strFine;
                                    var arr2 = str2.split('.');
                                    var strFine2 = arr2[arr2.length-2];
                                    $(this).attr('alt', strFine2);
                                    });
                                    $('a2iLogo').attr('alt', 'Access to information');
                                    $('.service-box img').each(function() {
                                    var strTitle = $(this).parent().find('h4').text();
                                    $(this).attr('alt', strTitle);
                                    });
                                    $('.block img').each(function() {
                                    var strTitleRight = $(this).closest('.block').find('.title').text();
                                    $(this).attr('alt', strTitleRight);
                                    });
                                    $('#notice-board-ticker .btn').attr('title', 'সকল নোটিশ');
                                    $('#news-ticker .btn').attr('title', 'সকল খবর');
                                    $('#search').each(function() {
                                    $(this).attr('alt', 'Search');
                                    });
                                    $('.search-btn').each(function() {
                                    $(this).attr('alt', 'Enter to search');
                                    });
                                    // ============ end tile for <a> and alt for img ========
                                        // =============== start dropdown design =======
                                        $(".mzr-content").mouseout(function(){
                                        // $(this).hide();
                                        });
                                        $(".submenu").mouseover(function(){
                                        //$('.mzr-content').show();
                                        });
                                        $(".mzr-content").mouseover(function(){
                                        //$(this).show();
                                        });
                                        // =============== End dropdown design =======
                                        </script>
                                        <input type="hidden" value="mata-inactive-38.png" id="mata-icon-name">
    </body>
</html>
{% comment %}

{% endcomment %}

