{% extends "base.html" %}
{% block content %}
	<div id="gallery" style="display:none;">

		{% for file in files %}
		{% if file.is_video %}

			<img alt="{{file.alt}}"
				 src="{{file.thumb.url}}"
				 data-type="html5video"
				 data-image="{{file.thumb.url}}"
				 data-videomp4="{{file.file.url}}">
		{% else %}
			<img alt="{{file.alt}}"
				 src="{{file.thumb.url}}"
				 data-image="{{file.file.url}}">
		{% endif %}

		{% endfor %}

	</div>

	<script type="text/javascript">

		jQuery(document).ready(function(){

			jQuery("#gallery").unitegallery({

				theme_enable_fullscreen_button: true,	//show, hide the theme fullscreen button. The position in the theme is constant
				theme_enable_play_button: true,			//show, hide the theme play button. The position in the theme is constant
				theme_enable_hidepanel_button: true,	//show, hide the hidepanel button
				theme_enable_text_panel: true,			//enable the panel text panel.

				theme_text_padding_left: 20,			//left padding of the text in the textpanel
				theme_text_padding_right: 5,			//right paddin of the text in the textpanel
				theme_text_align: "left",				//left, center, right - the align of the text in the textpanel
				theme_text_type: "title",				//title, description - text that will be shown on the text panel, title or description

				theme_hide_panel_under_width: 480		//hide panel under certain browser width, if null, don't hide

			});

		});

	</script>

{% endblock %}

