{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="row mainwrapper">
    <div class="dynamic_serivce_box">
    {% for key, box in data.items  %}

        {%if forloop.counter0|divisibleby:3%}
            <div class="row">
        {% endif %}

        <div id="box-" class="six columns service-box box">
            <div class="box_heading" style="text-align:center">
                <img src="{{box.image}}" alt="{{box.title|safe}}" width="50" height=""><h4>{{box.title|safe}}</h4>
            </div>
            <ul class="caption fade-caption">
                {% for item in box.items %}
                    <li><a href="{{item.url}}" title="{{item.title|safe}}">{{item.title|safe}}</a></li>
                {% endfor %}
            </ul>
            <p class="see_all">
                <a href="{% url 'show-all' content_type=content_type box_id=box.id%}" title=" See All"> {% trans "See All" %}</a>
            </p>
        </div>
        {%if forloop.counter|divisibleby:3 or forloop.last%}
            </div>
        {% endif %}
    {% endfor %}
    </div>
    <style>
        .dynamic_serivce_box .box{width:202px!important;min-height:370px;background-color: #fff!important;position: relative;}
        .dynamic_serivce_box .box img{float:none}
        .dynamic_serivce_box  .box .caption{float:none;width:100%;margin-bottom:20px}
        .dynamic_serivce_box  .box .caption li{list-style-type: none;margin-left:0!important;border-bottom: 1px solid lightgray; list-style-image:none;padding-bottom:5px}
        .dynamic_serivce_box .see_all{text-align:right; position:absolute;bottom:0;padding-top:5px;right: 10px;}
        .dynamic_serivce_box .see_all a{color:green}
        .box_heading h4{font-size:18px;font-weight:bold}
        .box_links h4{font-size:14px;font-weight:bold}
        .mainwrapper .box{height:auto!important}
    </style>
</div>
{% endblock %}
