{% load i18n %}
{% load cache %}
{% load timetags %}
{% comment %} {% cache 600 menu LANGUAGE_CODE%} {% endcomment %}
{% category_list LANGUAGE_CODE as categories %}
<div role="navigation" id="dawgdrops">
    <ul class="meganizr mzr-slide mzr-responsive">
        {% for key, cat in  categories.items %}
            {% if cat.items|length != 0 %}
            <li class="col1 mzr-drop">
                {% if cat.url|length != 0 %}
                <a href="{{cat.url}}" class="submenu" title="{{cat.title}}">{{cat.title}}</a>
                {% else %}
                <a href="/" class="submenu" title="{{cat.title}}">{{cat.title}}</a>
                {% endif %}
                {% if cat.items|length > 2 %}
                <div class="mzr-content drop-four-columns">
                {% else %}
                <div class="mzr-content drop-one-columns">
                {% endif %}
                    {% for item in cat.items %}
                    <div class="four-col">
                        <ul class="mzr-links">
                            <li>
                                <a href="{{item.url}}" title="{{item.title}}">{{item.title}}</a>
                            </li>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </li>
            {% else %}
            <li class="col1 ">
                <a href="{{cat.url}}" class="submenu" title="{{cat.title}}">{{cat.title}}</a>
            </li>
            {% endif %}

        {% endfor %}
    </ul>
</div>

{% comment %} {% endcache %} {% endcomment %}
