{% load i18n %}
{% load timetags %}
{% get_profiles LANGUAGE_CODE as profiles %}

<div class="four columns right-side-bar" id="right-content">
{% for profile in profiles  %}
    <div class="column block">
        <h5 class="bk-org title">{{profile.position}}</h5>
        <p><img alt="{{profile.name}}" src="{{MEDIA_URL}}{{profile.image}}" style="height:125px; margin-left:35px; margin-right:35px; width:106px"></p>
        <p><strong>{{profile.name}}</strong></p>
        <ul>
            <li>
                <a href="{% url 'show-profile' profile_id=profile.id %}" target="_self" title="Profile"><span style="color:#0000CD">{% trans "Profile" %}</span></a>
            </li>
        </ul>
    </div>
{% endfor %}
    <div class="column block" style="display: none;">
</div>
