{% extends "base.html" %}
{% load i18n %}
{% load timetags %}
{% block content %}
<div id="printable_area">
    {% if box is None %}
        <div class="error">{% trans "Page not found" %}</div>
    {% else %}
        <h3>{{box.title|safe}}</h3>
        <table class="bordered">
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td width="80%">
                        <a href="{{post.url}}">{{post.title|safe}}</a>
                    </td>
                    <td width="15%"> {{post.created|date:'d-m-Y'}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
        </div>
    {% endif %}
</div>
{% endblock %}

