{% extends "base.html" %}
{% load i18n %}
{% load timetags %}
{% block content %}
<div class="twelve columns" id="left-content">
    {% if post is None %}
        <div class="error">{% trans "Page not found" %}</div>
    {% else %}
        <div class="updateText">{% trans "Last updated" %}: {{ post.modified|date:'d-m-Y' }}</div>
        <a class="backlink" href="{% url 'show-all' content_type=post.content_type box_id=post.object_id  %}">&#60;&#60; {{back_title|safe}}</a>
        <hr id="print_div_hr">
        <div id="printable_area">
            <h3>{{post.title|safe}}</h3>
            <p style="text-align:justify">
            {% if post.image %}
                <img alt="{{post.alt}}" src="{{post.image.url}}">
            {% endif %}
            </p>
            <div>
               {{post.text|safe}}
            </div>
            {% if  LANGUAGE_CODE == 'fa' %}
                <small>{{ post.created|jalali_date}}</small>
            {% else %}
                <small>{{ post.created|date:'d-m-Y' }}</small>
            {% endif %}
            <hr>
        </div>
    {% endif %}
</div>
{% endblock %}
