{% extends "base.html" %}
{% load i18n %}
{% load timetags %}
{% block content %}
<div id="printable_area">
    {% if albumes is None %}
        <div class="error">{% trans "Page not found" %}</div>
    {% else %}
        <h3>{{title}}</h3>
        <table class="bordered">
            <tbody>
            {% for album in albumes %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td width="80%">
                        {% if type == "video" %}
                            <a href="/videoGallery/{{album.id}}">{{album.title|safe}}</a>
                        {% else %}
                            <a href="/photoGallery/{{album.id}}">{{album.title|safe}}</a>
                        {% endif %}
                    </td>
                    <td width="15%"> {{album.created|date:'d-m-Y'}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
        </div>
    {% endif %}
</div>
{% endblock %}

