{% extends "base.html" %}
{% load i18n %}
{% load timetags %}
{% block content %}
<div class="twelve columns" id="left-content">
    {% if profile is None %}
        <div class="error">{% trans "Page not found" %}</div>
    {% else %}
        <hr id="print_div_hr">
        <div id="printable_area">
            <div>
               {{profile.description|safe}}
            </div>
            <hr>
        </div>
    {% endif %}
</div>
{% endblock %}
